.btnGroup
    display: flex
    justify-content: center
    gap: 1rem
    margin: 1rem 0 
    flex-wrap: wrap
.btn
    color: var(--gray-900)
    padding: 1rem 2rem
    display: inline-block
    font-weight: bold
    background: transparent
    border: none
    cursor: pointer
    white-space: nowrap

.btn--block
    display: block
    width: 100%
    margin-left: auto
    margin-right: auto

.btn--ghost
    border: 2px solid var(--gray-900)
    border-radius: 5rem

.btn--ghostLight
    border: 2px solid var(--gray-50)
    color: var(--gray-50)
    border-radius: 5rem

.btn--solid
    background-color: var(--gray-900)
    color: var(--gray-50)
    border-radius: 5rem

.btn--social
    border: 1px solid var(--gray-900)
    border-radius: var(--rounded)
    display: flex
    align-items: center
    padding: 1rem 2rem
    transition: opacity .3s
    width: 100%

    @include media-md
        width: unset


    &:hover, &:target, &:focus
        opacity: .8

    svg
        margin-right: 1rem